#app {
  background-color: #999999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#navBar {
  color: #ffffff;
  background-color: #111111;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  padding: 10px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

#mainArea {
  /* background-color: grey; */
  display: grid;
  height:1000px;
  flex-grow: 1;
  /* overflow: hidden; */
}


#footer {
  background-color: springgreen;
  position: relative;
  width: 100%;
}

.grid1 {
  background-color: aqua;
  column-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "a c d"
  "a b d"
  "a e d";

}

.pic {
  position: relative;
  object-fit: contain;
}
