#app {
  background-color: #abcdef;
  background-image: url("./Images/15B9D2AD-219B-442E-9DF8-FEF33DF5C2AD.jpeg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#navBar {
  background-color: #111111;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  padding: 10px;
  justify-content: space-around;
}

#mainArea {
  /* background-color: grey; */
  height: 900px;
}

#footer {
  background-color: springgreen;
  bottom: 0px;
}
